@model mvc_asp_core.Models.PatientServices

@{
    ViewData["Title"] = "Create";
}

<h2>Multiple Insert Using Ajax</h2>
<h4>Patient Services</h4>
@if (TempData["Result"] != null)
{
    <div class="alert alert-success">
        <span> @TempData["Result"]</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<hr />
<div class="row">
  
    <div class="col-md-6">
        <h3>Add Record</h3>
        <form id="formGivenId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" id="txtPatient" class="form-control fData" asp-items="ViewBag.patient">
                    <option selected>Select Patient</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DoctorID" class="control-label"></label>
                <select asp-for="DoctorID" id="txtDoctor" class="form-control fData" asp-items="ViewBag.Doctor">
                    <option selected>Select Doctor</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select asp-for="ServiceId" id="txtService" class="form-control fData" asp-items="ViewBag.service">
                    <option selected>Select Service</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceDate" class="control-label"></label>
                <input asp-for="ServiceDate" type="date" id="txtDate" class="form-control fData" />
                <span asp-validation-for="ServiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatus" class="control-label"></label>
                <input asp-for="PaymentStatus" id="txtStatus" class="form-control fData" />
                <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="button" class="add-row" value="Add More"> |
               
                    <button type="button" id="btnSave" class="btn btn-success">Submit</button>
               
            </div>


        </form>
    </div>
    <div class="col-md-6">
        <div>
            <h3>Display Record</h3>
            <table class="table table-bordered table-responsive table-hover" style="margin-top:34px;" id="tbl">

                <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Doctor</th>
                        <th>Service</th>
                        <th>Date</th>
                        <th>Payment Status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
   
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts{
    <script src="~/jquery/jquery.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
    <script>
        $().ready(function () {
            //$("#txtDate").datepicker({
            //    dateFormat: 'dd/mm/yy',
            //    changeYear: true,
            //    changeMonth: true,
            //    yearRange: '-100:+0',
            //    showOn:"focus",
            //    maxDate: 0
            //});

            var form = $("#formGivenId");
            var data = new FormData(form[0]);

            $(".add-row").click(function () {
                //alert("click");
                var patient = $("#txtPatient").val();
                var doctor = $("#txtDoctor").val();
                var service = $("#txtService").val();
                var date = $("#txtDate").val();
                var status = $("#txtStatus").val();
                var rowsIndex = $('table tbody tr').length;
                data.append("PatientServices[" + rowsIndex + "].PatientId", patient);
                data.append("PatientServices[" + rowsIndex + "].DoctorID", doctor);
                data.append("PatientServices[" + rowsIndex + "].ServiceId", service);
                data.append("PatientServices[" + rowsIndex + "].ServiceDate", date);
                data.append("PatientServices[" + rowsIndex + "].PaymentStatus", status);
                var markup = "<tr><td>" + patient + "</td> <td>" + doctor + "</td><td>" + service + "</td><td>" + date + "</td><td>" + status + "</td></tr>";

                $("table tbody").append(markup);
            })

            $("#btnSave").click(function (e) {
                    
                $.ajax({
                    type: "POST",
                    url: "/PatientServices/Create"
                    , data: data,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert('Successfully saved')
                    }
                });

            });
        });

       

        //$("#btnSave").click(function () {
        //    var data = new FormData();
        //    $(".fData").each(function (i, v) {
        //        data.append($(v).attr("name"), $(v).val());
        //    });
        //    $.ajax({
        //        url: "/PatientServices/Create",
        //        type: "POST",
        //        processData: false,
        //        contentType: false,
        //        data: data
        //    }).done(function (d) {
        //        alert(d.result)
        //    }).fail(function (er) {
        //        console.log(er)
        //    });
        //});


     
    </script>

}
